@font-face {
    font-family: Roxborough CF;
    src: url(font/Roxborough-CF/Roxborough\ CF.ttf);
    
}

* {
    margin: 0px;
    padding: 0px;
    font-family: Roxborough CF;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

header {
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5vw;
}

.header-logo {
    display: flex;
    font-size: 25px;
    color: rgb(74, 61, 51);
    align-items: center;
}

.header-logo:hover {
    cursor: pointer;
}

header > div > img {
    width: 50px;
    display: flex;
    transition: 0.3s;
}

header > div > img:hover {
    width: 55px;
}

header > nav > a {
    display: inline-flex;
    color: rgb(74, 61, 51);
    text-decoration: none;
    font-weight: 600;
    margin: 0 5px;
    transition: 0.3s;
}

header > nav > a:hover {
    font-size: 19px;
}

header > div > button {
    background-color: rgb(74, 61, 51);
    color: white;
    padding: 7px;
    border-radius: 10px;
    border-color: transparent;
    margin-left: 10px;
    transition: 0.3s;
}

header > div > button:hover {
    padding: 10px;
    border-radius: 12px;
    cursor: pointer;
}


main {
    background-color: rgb(74, 61, 51);
    width: 100%;
}

.contexto {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.contexto > img {
    height: 50vw;
    max-height: 400px;
    margin-right: 10px;
}

.contexto > article {
    width: 40vw;
    max-width: 450px;
    color: white;
}
.contexto > article > h1 {
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 20px 15px;
}

.contexto > article > p {
    font-size: 16px;
    line-height: 1.6;
    text-align: justify;
}

/*--------------------------*/

.opções {
    width: 100%;
    background-color: rgb(74, 61, 51);
    padding: 40px 0;
}

.opções > h1 {
    margin-bottom: 30px;
    color: white;
    letter-spacing: 2px;
    text-align: center;
}

.opções > div {
    display: flex;
    justify-content: space-evenly;
}

.opções > div > .content > .tri-top {
    width: 0;
    height: 0;
    border: 5em solid transparent;
    border-bottom: 10px solid white;
    border-width: 20px 150px;
}

.opções > div > .content > img {
    background-color: white;
    width: 300px;
    height: 150px;
    padding: 20px 10px 0px 10px;
    text-align: center;
    border: 0px 20px solid white;
    margin-bottom: -4px;
}

.opções > div > .content > p {
    width: 300px;
    height: 180px;
    background-color: white;
    padding: 20px 15px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

.opções > div > .content > .tri-bott {
    width: 0;
    height: 0;
    border: 5em solid transparent;
    border-top: 10px solid white;
    border-width: 20px 150px;
}

/*--------------------------*/

footer {
    height: 250px;
    width: 100%;
    background-image: url(imagens/footer.png);
    background-size: 1500px;
    position: absolute;
    z-index: -1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3vw;
}

.footer-logo {
    display: flex;
    font-size: 22px;
    color: white;
    align-items: center;
    margin-top: 155px;
}

.footer-logo:hover {
    cursor: pointer;
}

.footer-logo > img {
    width: 45px;
    display: flex;
    transition: 0.3s;
}

.footer-logo > img:hover {
    width: 50px
}

footer > .sobre {
    display: flex; 
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    color: white;
    width: 40vw;
    max-width: 600px;
    text-align: center;
}

footer > .sobre > nav > a {
    color: white;
    text-decoration: none;
    display: block;
    line-height: 2;
    transition: 0.2s;
}

footer > .sobre > nav > a:hover {
    font-weight: 600;
    font-size: 17px;
}

footer > .sobre > .endereço {
    width: 20vw;
}

footer > .sobre > .endereço > .rua {
    margin-top: 8px;
    font-size: 14px;
    letter-spacing: 1px;
}

footer > .sobre > .contato > ul {
    margin-top: 8px;
    list-style: none;
    letter-spacing: 1px;
    font-size: 14px;
}

footer > .rede-social {
    margin-top: 50px;
    color: white;
}

footer > .rede-social > a {
    display: flex;
    align-items: center;
    width: 225px;
    height: 20px;
 

    margin-top: 30px;
    color: white;
    text-decoration: none;
    
    transition: 0.3s;
}

footer > .rede-social > a:hover {
    height: 23.4px;
    font-size: 17px;
}

footer > .rede-social > a > img {
    height: 130%;
    margin-right: 5px;

}
